/*{
  min-height: 10px;
  border: 1px dashed red;
}*/
body {
  background: rgb(190, 147, 238);
  font-family: "Libre Baskerville", serif;
  font-family: "Mooli", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Roboto", sans-serif;
  background-image: url(https://img.freepik.com/premium-vector/vector-abstract-background-texture-wave-lines-trendy-soft-violet-shades-autumn-season-eps-design-poster-banner-brochures-wrapping-cards-price-tag-label-web-eps-monochromic_498312-982.jpg?w=740);
  background-repeat: repeat;
  width: 625px;
  margin: auto;
}
.post {
  width: auto;
  height: 100%;
  margin: auto;
  margin-top: 20px;
}
.header {
  display: flex;
  justify-content: center;
  background-color: pink;
  height: 48px;
  align-items: center;
}
.first {
  display: flex;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 33px;
  margin-top: 18px;
  padding: 11px;
}
.first-img img {
  width: 622px;
  margin-top: -5px;
}
.first p + p {
  color: purple;
}
.comment {
  display: flex;
  background-color: pink;
  width: 600px;
  height: 33px;
  margin-top: -5px;
  padding: 11px;
  align-items: center;
}
.second {
  display: flex;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 33px;
  margin-top: 18px;
  padding: 11px;
}
.second-img img {
  width: 622px;
  height: 600px;
  margin-top: -5px;
}
.second p + p {
  color: purple;
}
.second-comment {
  display: flex;
  background-color: pink;
  width: 600px;
  height: 33px;
  margin-top: -5px;
  padding: 11px;
  align-items: center;
}
.third {
  display: flex;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 33px;
  margin-top: 18px;
  padding: 11px;
}
.third-img img {
  width: 622px;
  height: 600px;
  margin-top: -5px;
}
.third p + p {
  color: purple;
}
.third-comment {
  display: flex;
  background-color: pink;
  width: 600px;
  height: 33px;
  margin-top: -5px;
  padding: 11px;
  align-items: center;
}
.fourth {
  display: flex;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 33px;
  margin-top: 18px;
  padding: 11px;
}
.fourth-img img {
  width: 622px;
  height: 600px;
  margin-top: -5px;
}
.fourth p + p {
  color: purple;
}
.fourth-comment {
  display: flex;
  background-color: pink;
  width: 600px;
  height: 33px;
  margin-top: -5px;
  padding: 11px;
  align-items: center;
}
.fifth {
  display: flex;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 33px;
  margin-top: 18px;
  padding: 11px;
}
.fifth-img img {
  width: 622px;
  height: 600px;
  margin-top: -5px;
}
.fifth p + p {
  color: purple;
}
.fifth-comment {
  display: flex;
  background-color: pink;
  width: 600px;
  height: 33px;
  margin-top: -5px;
  padding: 11px;
  align-items: center;
}
.sixth {
  display: flex;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 33px;
  margin-top: 18px;
  padding: 11px;
}
.sixth-img img {
  width: 622px;
  height: 300px;
  margin-top: -5px;
}
.sixth p + p {
  color: purple;
}
.sixth-comment {
  display: flex;
  background-color: pink;
  width: 600px;
  height: 33px;
  margin-top: -5px;
  padding: 11px;
  align-items: center;
  margin-bottom: 46px;
}